.app {
  font-family: sans-serif;
  text-align: center;
}

.heading{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin-top: 20px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}



img {
  display: inline-block;
  max-width: 100%;
}

.rounded{
  margin-right: 11px
;
}

.rounded-detail{
  margin-right: -28px
  ;
;
}
.btn{
  padding: 11px ;
  margin-top: 13 px;
}

.span{
  padding:11px;
}

table{  
  border-collapse: collapse;  
  width: 100%;   
}  
th,td{  
border: 2px solid green;   
padding: 15px;  
}  

.mbtn{
  margin: 31px ;
  }
